.mainLayout {
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
}

.mainLayout .sidebar {
  width: 300px;
  transition: all 0.3s linear;
  opacity: 1;
}

.mainLayout .sidebar.active {
  width: 0;
  overflow: hidden;
  opacity: 0;
}

.mainLayout > main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: calc(100vw - 315px);
  transition: all 0.3s linear;
}

.mainLayout > main.active {
  width: 100%;
}
