@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

input::placeholder {
  text-transform: capitalize;
}

/* antd */

*:disabled,
[class*="-disabled"],
[area-disabled="true"] {
  opacity: 0.5 !important;
  cursor: not-allowed;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide input arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  user-select: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.glass-card  {
    backdrop-filter: blur(11px) saturate(100%);
    -webkit-backdrop-filter: blur(11px) saturate(67%);
    background-color: rgba(19, 19, 31, 0.48);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}