@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

input::placeholder {
  text-transform: capitalize;
}

/* antd */

:where(.css-dev-only-do-not-override-vh6ynd).ant-btn-variant-solid:disabled {
  background: "";
  color: "";
  opacity: 0.7;
}
