html,
body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #525252;
}

p,
h1,
h2,
h3,
h4,
h5,
h6, 
.primary_text {
  color: #525252;
}

.dark p,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark .primary_text {
  color: lightgray;
}



/* Change popup background and border */
.dark .swal2-popup.swal2-modal.swal2-show {
  background-color: #2b2d42 !important;
  color: lightgray 
}



button.swal2-confirm.swal2-styled {
  background-color: #1668dc !important; 
  color: white !important;
  border-radius: 5px;
}

